body {
    font-family: "Trebuchet MS", Arial, sans-serif;
    background-color: #f8f9fa;
    color: #333;
    margin: 0;
    padding: 0;
}

main {
    max-width: 1200px;
    width: 90%;
    margin: 20px auto;
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo {
    width: 100px; /* Set a width */
    height: auto; /* Maintain aspect ratio */
    margin-right: 30px;
    position: absolute;
    left: 20px;
}


h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 0;
}

